/* styles */

body
  font-family: 'Roboto Mono', monospace
  color: #444
  padding: 2em

h1
  background-color: #A2FFCD
  display: inline-block

th
  background-color: #f2f2f2

.upload-button
  font-family: 'Roboto Mono', monospace
  background-color: #ddd
  border: none
  font-size: 12pt
  cursor: pointer
  margin-top: 20pt
  padding: 5pt
  padding-left: 10pt
  padding-right: 10pt


@media all and (prefers-color-scheme: dark)
  body
    background-color: #222
    color: #f2f2f2

  h1
    background-color: #444

  th
    background-color: #333
  
  .upload-button
    background-color: #333
    color: #f2f2f2
  