<!-- views/pages/index.ejs -->

<html>
  <head>
    <% include ../components/head %>
  </head>
  <body>
    <h1>
      Little Hex Viewer
    </h1>
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="inputfile" />
      <br>
      <input type="Submit" value="Upload" class="upload-button" />
    </form>
    
    <p>
      2019 Lars Augustin
    </p>
    
  </body>
</html>